/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --primary: #682C0E;
    --primary-dark:#7E370C;
    --brown: #B05E27;
    --yellow-1: #D4AC2B;
    --yellow-2: #FFCE45;
    --body:#F9E0AE;
    --white-navbar: #FFFFFF;
    --light: #FAF8F1;
}

html {scroll-behavior: smooth;}

body{
    font-family: 'Oswald', sans-serif;
    line-height: 1.7;
    background-color: var(--body);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--light);
    font-weight: 700;
}


a{
    color: var(--light);
    text-decoration: none;
}

.navbar .nav-link{
    font-size: 17px;
    font-weight: 700;
}

.navbar-brand{
    font-weight: 600;
    font-size: 23px;
    margin: 0px;
}

.btn{
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

.hero {
    background-image: url(../img/blackforest.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

section{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*Menu images*/
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width:800px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width:600px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
}

h4 {
    text-align: center;
    color: #682C0E;
}
#contact{
    background-color: #B05E27;
}
/*
.btn{
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary{
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary-dark);
}

.btn-outline-secondary{
    border: 1px solid(--yellow-1);
    color: var(var--brown);
}

.btn-outline-secondary:hover{
    background-color: var(--yellow-1);
    border: 1px solid var(--yellow-1);
    color: var(--brown);
}

.btn-outline-secondary:focus{
    background-color: var(--yellow-1);
    border: 1px solid var(--yellow-1);
    color: var(--brown);
}


/*NAVBAR
.navbar .btn-outline-secondary{
    border: 1px solid var(--brown);
    color: var(--primary-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

/*Custom container
.container-custom{
    width: 100%;
    padding: 0 4rem;
    margin: 0 auto;
}

.header{
    z-index: 2;
}
.navbar{
    padding: 12px 0;
}
.nav-link{
    margin-left: 41px;
    font-size: 16px;
    color: var(--brown);
}
.navbar-nav .nav-link.active {
    font-weight: bold;
    color: var(--brown);
}

/*HERO
.hero{
    position:relative;
    height: 100vh;
    background-color: #F9E0AE;
    overflow: hidden;
}

@media (min-width: 1400px){
    .hero__heading{
    font-size: 3.2rem;
    }
}

.hero__img{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero__overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.4;
    z-index: 1;
}

.hero__content{
    z-index: 1;
}

.hero__content-width{
    max-width: 540px;
}

.hero__scroll-btn {
    position:absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover{
    color: var(--bs-light);
    opacity: 0.8;
}

.hero__scroll-btn.bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}


/*
a{
    text-decoration: none;
    color: currentColor;
}

a:hover{
    color:currentColor;
}

header{
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;

}
header .item{
    text-align: center;
    margin-inline: 15%;
    font-size: 20px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: #64d6f4;
    cursor: pointer;
}

header .item:hover{
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header .item-button a{
    background-color: #274d8a;
    width: 150px;
    height: 50 px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    transition: all .5s ease;
}

border .item-button a:hover{
    background-color: #64d6f4;
}


